<sly data-sly-use.mediumComponent="be.ida.component.general.mediumComponent.MediumComponent"
     data-sly-use.author="templates/author.template.html"
     data-sly-use.publish="templates/publish.template.html">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
    <sly data-sly-call="${clientlib.css @ categories='medium-connector.components'}" />

    <sly data-sly-test.isEdit="${wcmmode.edit || wcmmode.design}"
         data-sly-call="${author.template @ model=mediumcomponent}"/>

    <sly data-sly-test="${!isEdit}"
         data-sly-call="${publish.template @ model=mediumcomponent}"/>
</sly>
