<div class="xf-facebook-top">
    <span class="coral-Icon coral-Icon--imageProfile coral-Icon--sizeXL"></span>
    <div class="xf-facebook-details">
        <span class="xf-facebook-name">${'John Doe' @ i18n, locale=request.locale}</span>
        <div class="xf-facebook-time">
            <span>${'1 hr' @ i18n, locale=request.locale}</span>
            <span class="xf-facebook-dot"></span>
            <span class="coral-Icon coral-Icon--globe coral-Icon--sizeXS"></span>
        </div>
    </div>
    <span class="coral-Icon coral-Icon--chevronDown coral-Icon--sizeXS xf-facebook-arrow"></span>
</div>