<template data-sly-template.template="${ @ model }">

    <div class="medium-component-tile">
        <a class="medium-component-tile__image"
            style="background: url('https://cdn-images-1.medium.com/max/2000/1*o6hiCteU7wHTzKhTauIPzg.jpeg') center top">
            <div class="medium-component-tile__foreground">
                <p class="medium-component-tile__foreground__title">
                    Pitfalls of coding emails - lessons learned (part 2)
                </p>
                <div class="medium-component-tile__foreground__author-info">
                    <img class="medium-component-tile__foreground__author-info__image"
                         src="https://data.whicdn.com/images/212941858/large.jpg"
                    />
                    <div>
                        <p class="medium-component-tile__foreground__author-info__name">Andro Delrue</p>
                        <p class="medium-component-tile__foreground__author-info__publication-date">Oct 16</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <div class="medium-component-tile">
        <a class="medium-component-tile__image"
            style="background: url('https://cdn-images-1.medium.com/max/2000/gradv/29/81/30/darken/25/1*O2pJOJL5D4VaKTP94CFO2w.jpeg') center top">

            <div class="medium-component-tile__foreground">
                <p class="medium-component-tile__foreground__title">
                    24 VSCode extensions Every Web Developer Needs
                </p>
                <div class="medium-component-tile__foreground__author-info">
                    <img class="medium-component-tile__foreground__author-info__image"
                         src="https://data.whicdn.com/images/212941858/large.jpg"
                    />
                    <div>
                        <p class="medium-component-tile__foreground__author-info__name">Simon Somlai</p>
                        <p class="medium-component-tile__foreground__author-info__publication-date">Oct 2</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

</template>
